{% extends "/admin/base.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Title{% endblock %}

{% block right %}

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">节点管理</h3>
        <a href="{{ url_for('admin.node_add') }}" class="btn btn-primary btn-sm" data-remote="true">添加节点</a>
    </div>
    <div class="panel-body">
        {% if parent_nodes %}
        <table class="table table-hover table-condensed">
            <thead>
                <th>列表</th>
                <th><span class="pull-right">选项</span></th>
            </thead>
            {% for parent_node in parent_nodes %}
            <tbody>
                <tr>
                    <td>{{ parent_node.name }}</td>
                    <td><span class="pull-right">
                        <a href="{{ url_for('admin.node_edit', id=parent_node.id) }}" class="btn btn-primary btn-sm" data-remote="true">修改</a>
                        <a href="{{ url_for('admin.node_delete', id=parent_node.id) }}" class="btn btn-sm btn-danger" data-confirm="真的要删除吗?" data-method="delete" data-remote="true" rel="nofollow">删除</a></span>
                    </td>
                </tr>
                {% for node in get_node(parent_node) %}
                <tr>
                    <td>├─&nbsp;<a href="{{ url_for('main.node', name=node.name) }}">{{ node.name }}</a></td>
                    <td><span class="pull-right">
                        <a href="{{ url_for('admin.node_edit', id=node.id) }}" class="btn btn-primary btn-sm" data-remote="true" id="edit_node_1">修改</a>
                        <a href="{{ url_for('admin.node_delete', id=node.id) }}" class="btn btn-sm btn-danger" data-confirm="真的要删除吗?" data-method="delete" data-remote="true" rel="nofollow">删除</a></span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% endfor %}
        </table>
        {% else %}
        暂无分类
        {% endif %}
    </div>
    <div class="panel-footer">Panel footer</div>
</div>

{% endblock %}