{% extends "/admin/base.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Title{% endblock %}

{% block right %}

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">所有主题
            <span class='form-actions'>
                <input class="btn btn-primary btn-danger" name="batch_del" type="submit" value="批量删除" />
                <input class="btn btn-primary" name="batch_approve" type="submit" value="批量隐藏" />
				<input class="btn btn-primary" name="batch_approve" type="submit" value="批量显示" />
            </span>
        </h3>
    </div>
    <div class="panel-body">
        {% if topics %}
        <form name="myform" method="post" action="<?php echo site_url('admin/topics/batch_process')?>">
            <input type="hidden" name="<?php echo $csrf_name; ?>" value="<?php echo $csrf_token; ?>">
            <div class='input-group'>
                <table class='table table-hover table-condesed'>
                    <thead>
                        <tr>
						    <th><input id="checkall" type="checkbox" checked="1"></th>
						    <th>ID</th>
						    <th>节点</th>
						    <th>标题</th>
						    <th>作者</th>
						    <th>回复</th>
						    <th>时间</th>
						    <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
						{% for topic in topics %}
						<tr>
						    <td>
						        <input name="checktopic" checked="1" value="{{ topic.id }}" type="checkbox">
						    </td>
						    <td>
						        <strong>{{ topic.id }}</strong>
						    </td>
						    <td>
						        <a href="{{ url_for('main.node', name=topic.node.name) }}">{{ topic.node.name }}</a>
						    </td>
						    <td>
						        <a href="{{ url_for('main.topic', id=topic.id) }}">{{ topic.title }}</a>
						    </td>
						    <td>
						        <a href="{{ url_for('main.user', username=topic.sender.username) }}" title="admin">{{ topic.sender.username }}</a>
						    </td>
						    <td>
						        {{ topic.comments.count() }}
						    </td>
						    <td>
						        <small>{{ topic.addtime }}</small>
						    </td>
						    <td>
						        <a href="{{ url_for('admin.topic_edit', id=topic.id) }}" class="btn btn-primary btn-sm">编辑</a>
						        <a href="{{ url_for('admin.topic_delete', id=topic.id) }}" class="btn btn-sm btn-danger" data-confirm="真的要删除吗？" data-method="delete" rel="nofollow">删除</a>
						        {% if not topic.is_top %}
						        <a href="{{ url_for('admin.top', id=topic.id) }}" class="btn btn-primary btn-sm">置顶</a>
						        {% else %}
						        <a href="{{ url_for('admin.untop', id=topic.id) }}" class="btn btn-primary btn-sm">取消置顶</a>
						        {% endif %}
						        {% if topic.is_hidden %}
						        <a href="{{ url_for('admin.unhidden', id=topic.id) }}" class="btn btn-primary btn-sm">显示</a>
								{% else %}
								<a href="{{ url_for('admin.hidden', id=topic.id) }}" class="btn btn-primary btn-sm">隐藏</a>
						        {% endif %}
						    </td>
						</tr>
						{% endfor %}
                    </tbody>
                </table>
                {% if pagination %} <div class="pagination"> {{ macros.pagination_widget(pagination, 'admin.topic_list') }} </div> {% endif %}
                {% else %}
                暂无话题
                {% endif %}
            </div>>
        </form>
    </div>
    <div class="panel-footer">Panel footer</div>
</div>

{% endblock %}