{% extends "/admin/base.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Title{% endblock %}

{% block right %}

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">User-edit</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
    <div class="panel-footer">{{ wtf.quick_form(form) }}</div>
</div>

{% endblock %}