{% extends "/admin/base.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Title{% endblock %}

{% block right %}

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">用户管理</h3>
    </div>
    <div class="panel-body">
        <?php if($act=='index' || $act=='search'){?>
        <table class='table table-hover table-condensed'>
            <thead>
            <tr>
                <th>ID</th>
                <th>昵称</th>
                <th>角色</th>
                <th>Email</th>
                <th>积分</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr id='user_{{ user.id }}'>
                    <td>
                        {{ user.id }}
                    </td>
                    <td>
                        <strong><a href="{{ url_for('main.user', username=user.username) }}" class="black profile_link" title="admin">{{ user.username }}</a></strong>
                    </td>
                    <td>
                        <strong class='green'>{{ user.role.role_name }}</strong>
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {{ user.integral }}
                    </td>
                    <td class='center'>
                        <a href="{{ url_for('.user_edit', id=user.id) }}" class="btn btn-primary btn-sm">修改</a>
                        <a href="{{ url_for('.user_delete', id=user.id) }}" class="btn btn-sm btn-danger">删除</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if pagination %}
        <ul class='pagination'>
            {{ macros.pagination_widget(pagination, '.user_list') }}
        </ul>
        {% endif %}
    </div>
    <div class="panel-footer">Panel footer</div>
</div>

{% endblock %}