<ul class="posts">
    {% for topic in topics %}
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('.user', username=topic.sender.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ topic.sender.gravatar(size=40) }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-date">{{ moment(topic.addtime).fromNow() }}</div>
            <div class="post-author"><a href="{{ url_for('.user', username=topic.sender.username) }}">{{ topic.sender.username }}</a></div>
            <div class="post-body">
                {{ topic.content }}
            </div>
            <div class="post-footer">
                {% if current_user == topic.sender %}
                <a href="{{ url_for('.edit', id=topic.id) }}">
                    <span class="label label-primary">Edit</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit', id=topic.id) }}">
                    <span class="label label-danger">Edit [Admin]</span>
                </a>
                {% endif %}
                <a href="{{ url_for('.topic', id=topic.id) }}">
                    <span class="label label-default">Permalink</span>
                </a>
                <a href="{{ url_for('.topic', id=topic.id) }}#comments">
                    <span class="label label-primary">{{ topic.comments.count() }} Comments</span>
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
