{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Flasky{% endblock %}

{% block left %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">欢迎{% if current_user.is_authenticated %}{{ current_user.username }}{% else %}您{% endif %}访问Lightbbs开源轻社区!</h2>
    </div>
    <div class="panel-body">

        <div class="post-tabs">
            <ul class="nav nav-tabs">
                <li {% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">All</a></li>
                {% if current_user.is_authenticated %}
                <li {% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">Followers</a></li>
                {% endif %}
            </ul>
            {% include '_topics.html' %}
        </div>


    </div>
    <div class="panel-footer">
        {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.index') }}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block right %}

{{ super() }}
{% include '/common/sidebar_cates.html' %}
{% include '/common/sidebar_stats.html' %}
{% include '/common/sidebar_link.html' %}


{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
