{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}Flasky - Notification{% endblock %}

{% block left %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">通知中心</h3>
    </div>
    <div class="panel-body">
        <?php if($notices_list):?>
        {% if notices %}
        <ul class="media-list">
            {% for notice in notices %}
            <li class="media">
                <div class="media-body">

                    <blockquote>
                        <h4 class="media-heading topic-list-heading">
                            <a href="{{ url_for('.user', username=user.username) }}"><img alt="{{ user.username }} mini avatar" src="{{ topic.sender.gravatar(size=20) }}" /></a>
                            <a href="{{ url_for('.user', username=user.username) }}">{{ user.username }}</a> 在贴子
                            <a href="{{ url_for('.topic', id=notice.topic_id) }}">{{ notice.topic.title }}...</a>中</h4>
                        {% if notice.type==0 %}回复了你　{% endif %}
                        {% if notice.type==1 %}提到了@你　{% endif %}
                        {{ moment(notice.time).fromNow() }}
                    </blockquote>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% if pagination %}<ul class="pagination">{{ macros.pagination_widget(pagination, '.notification') }}</ul>{% endif %}
        {% else %}
        暂无提醒
        {% endif %}
    </div>
    <div class="panel-footer">Panel footer</div>
</div>

{% endblock %}
