{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{ topic.title }}{% endblock %}

{% block left %}
<div class="panel panel-default">
    <div class="panel-heading">

        <div class="pull-right"><a href="{{ url_for('.user', username=topic.sender.username) }}"><img src="{{ topic.sender.gravatar(size=40) }}" alt="{{ topic.sender.username }}"></a></div>
        <p><a href="{{ url_for('main.index') }}">首页</a> / <a href="{{ url_for('.node', name=topic.node.name) }}">{{ topic.node.name }}</a></p>
        <h2 class="panel-title">{{ topic.title }}</h2>
        <small class="text-muted">
            <span>By <a href="{{ url_for('.user', username=topic.sender.username) }}">{{ topic.sender.username }}</a></span>&nbsp;•&nbsp;
            <span>{{ topic.addtime }}</span>&nbsp;•&nbsp;
            <span>{{ topic.views }}次点击</span>
            {% if current_user.id and current_user != topic.sender %}
            <span>• <a href="{{ url_for('.topic', id=topic.id) }}#comments" class="reply">回复</a></span>
                {% if current_user.is_favoriting(topic) %}
                    <span><a href="{{ url_for('.unfavorite', topic_id=topic.id) }}" title="取消收藏">取消收藏</a></span>
                {% else %}
                    <span><a href="{{ url_for('.favorite', topic_id=topic.id) }}" title="点击收藏">收藏</a></span>
                {% endif %}
            {% endif %}
        </small>

    </div>
    <div class="panel-body">

        <div class="panel-body content">
            {{ topic.content }}
            {% if topic.tags %}
            <p class="tag">
                {% for tag in topic.tags %}
                <a href="{{ url_for('.tag', tagname=tag.id) }}">{{ topic.tags.tag_name }}</a>&nbsp;
                {% endfor %}
            </p>
            {% endif %}

        </div>

    </div>
    <div class="panel-footer">
        <!--<?php if($this->auth->is_user($content['uid']) || $this->auth->is_admin() || $this->auth->is_master($cate['node_id'])){?>

        <a href="<?php echo site_url('topic/edit/'.$content['topic_id']);?>" class="btn btn-default btn-sm unbookmark" data-method="edit" rel="nofollow">编辑</a>
        <a href="javascript:if(confirm('确实要删除吗?'))location='<?php echo site_url('topic/del/'.$content['topic_id'].'/'.$content['node_id'].'/'.$content['uid']);?>'" class="btn btn-sm btn-danger" data-method="edit" rel="nofollow">删除</a>
        <?php }?>
        <?php if($this->auth->is_admin() || $this->auth->is_master($cate['node_id'])){?>
        <a href="<?php echo site_url('topic/show/'.$content['topic_id'].'?act=set_top');?>" class="btn btn-default btn-sm unbookmark" data-method="edit" rel="nofollow">
            <?php if($content['is_top']==0){?>
            置顶
            <?php } else {?>
            取消置顶
            <?php }?>
        </a>
        <?php }?>-->

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h5><span>{{ topic.comments.count() }}</span><span> 回复 | 直到{{ topic.last_reply }}</span><a class="pull-right" href="{{ url_for('.topic', id=topic.id) }}#comments"><span class="text-muted">添加回复</span></a></h5>
    </div>
    <div class="panel-body">
        {% include '_comments.html' %}
        {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.index') }}
        </div>
        {% endif %}
    </div>

</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">回复</h4>
    </div>
    <div class="panel-body" id="comments">
        {% if current_user.can(Permission.COMMENT) %}
            {{ wtf.quick_form(form) }}
        {% else %}
        <p>登录后即可评论.</p>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block right %}

{% include '/common/common.html' %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
</div>

{% endblock %}
