<footer class="small">
	<div class="container">
		<div class="row">
			{% if page_links %}
			<ul class="list-inline">
			{% for page_link in page_links %}
				{% if go_urls %}
				<li><a href="#" target=_blank>{{ ## }}</a></li>
				{% else %}
				<li><a href="#">{{ ## }}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
			{% endif %}
			<p>{{ seting.site_name }}  {{ seting.site_stats }}</p>
			<p>Powered by <a href="{{ url_for('.index') }}" class="text-muted" target="_blank">{{ sys.name }}</a>
				{{ sys.version }} 2013-2014 Some rights reserved 页面执行时间:  {{ elapsed_time }}s
			</p>
		</div>
	</div>
</footer>