<footer class="small">
	<div class="container">
		<div class="row">
			{% if pages %}
			<ul class="list-inline">
			{% for page in pages %}
				{% if page.go_url %}
				<li><a href="{{ page.go_url }}" target=_blank>{{ page.title }}</a></li>
				{% else %}
				<li><a href="{{ url_for('main.page', id=page.id) }}">{{ page.title }}</a></li>
				{% endif %}
			{% endfor %}
			</ul>
			{% endif %}
			<p>LightBBS-开源轻社区</p>
			<p>Powered by <a href="{{ url_for('.index') }}" class="text-muted" target="_blank">LightBBS</a>
				V1.0 2013-2014 保留部分权利
			</p>
		</div>
	</div>
</footer>