{% if current_user.is_authenticated %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-5">
                <a href="{{ url_for('main.user', username=current_user.username) }}"><img alt="{{ current_user.username }} large avatar" class="img-rounded" src="{{ current_user.gravatar(size=100) }}" /></a>
            </div>
            <div class="col-md-7">
	            <ul class="list-unstyled">
	            	<li><a href="{{ url_for('main.user', username=current_user.username) }}" title="{{ current_user.username }}">{{ current_user.username }}</a></li>
	            	<li>用户组：{{ current_user.role.role_name }}</li>
	            	<li>积分：{{ current_user.integral }}</li>
	            </ul>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
	            <p><a href="{{ url_for('main.favorites', username=current_user.username) }}">{{ current_user.favorites.count() }}</a></p>
	            <p><a href="{{ url_for('main.favorites', username=current_user.username) }}">收藏</a></p>
            </div>
            <div class="col-md-4">
	            <p><a href="{{ url_for('main.followers', username=current_user.username) }}">{{ current_user.followers.count() - 1 }}</a></p>
	            <p><a href="{{ url_for('main.followers', username=current_user.username) }}">粉丝</a></p>
            </div>
            <div class="col-md-4">
	            <p><a href="{{ url_for('main.followed_by', username=current_user.username) }}">{{ current_user.followeds.count() - 1 }}</a></p>
	            <p><a href="{{ url_for('main.followed_by', username=current_user.username) }}">关注</a></p>
            </div>
        </div>
    </div>
    <div class="panel-footer text-muted">
		{% if notices %}
		<img align="top" alt="Dot_orange" class="icon" src="{{ url_for('static', filename='/common/images/dot_orange.png') }}" />
		<a href="{{ url_for('main.notifications', id=current_user.id) }}">{{ current_user.topics_sender_id.count() }} 条未读提醒</a>
		{% else %}
		暂无提醒
		{% endif %}
	</div>
</div>
{% else %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>LightBBS</h4>
    </div>
    <div class="panel-body">
        <a href="{{ url_for('auth.register') }}" class="btn btn-default">现在注册</a> 已注册请
<a href="{{ url_for('auth.login') }}">登入</a>
    </div>
</div>
{% endif %}