<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ceshi1</title>
<meta name="keywords" content="ceshi" />
<meta name="description" content="ceshi" />
{% include 'common/header-meta' %}
</head>
<body>
{% include 'common/header' %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">welcome_tip</h3>
                    </div>
                    <div class="panel-body">
	                    <?php if($topic_list):?>
                        <ul class="media-list" id="topic_list">

                            <li class="media topic-list">
                                <div class="pull-right">
                                    <span class="badge badge-info topic-comment"><a href="#">comments</a></span>
                                </div>
                                <a class="media-left" href="#"><img class="img-rounded medium" src="#" alt="username medium avatar"></a>
                                <div class="media-body">
                                    <h2 class="media-heading topic-list-heading"><a href="#">title</a><span class="badge badge-info">置顶</span> </h2>
                                    <p class="text-muted">
                                        <span><a href="#">cname</a></span>&nbsp;•&nbsp;
                                        <span><a href="#">username</a></span>&nbsp;•&nbsp;
                                        <span>updatetime</span>&nbsp;•&nbsp;

                                            <span>最后回复来自 <a href="#">rname</a></span>

                                            <span>暂无回复</span>

                                    </p>
                                </div>
                            </li>

                        </ul>

                        暂无话题

                    </div>
                     <div class="panel-footer"><a href="javascript:void(0)" id="getmore" class="startbbs">更多新主题</a></div>
                </div><!-- /.topic list -->
                
            </div><!-- /.col-md-8 -->

			<div class="col-md-4">
                {% include 'common/sidebar_login' %}
                {% include 'common/sidebar_cates' %}

				 <div class="panel panel-default">
				    <div class="panel-heading">
				        <h3 class="panel-title">社区统计</h3>
				    </div>
				    <div class="panel-body">
				        <ul class="list-unstyled">
				            <li>最新会员：last_username</li>
				            <li>注册会员： total_users</li>
				            <li>今日话题： today_topics</li>
				            <li>昨日话题： yesterday_topics</li>
				            <li>话题总数： total_topics</li>
				            <li>回复数： total_comments</li>
				        </ul>
				    </div>
				</div> 


                {% include 'common/sidebar_ad' %}
				 <div class="panel panel-default">
				    <div class="panel-heading">
				        <h3 class="panel-title">友情链接</h3>
				    </div>
				    <div class="panel-body">
				        <ul class="list-unstyled">
					        <li style="width:0; height:0; overflow:hidden;"><a href="http://www.startbbs.com" target="_blank">StartBBS</a></li>

				            <li><a href="#" target="_blank">name</a></li>

							<li>暂无链接</li>

							<li>暂无链接</li>

				        </ul>
				    </div>
				</div>
			</div><!-- /.col-md-4 -->

        </div><!-- /.row -->
    </div><!-- /.container -->

{% include 'common/footer' %}

</body>
</html>